.header-top__nav {
  &--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 5px;
  }
  &--item {
    font-size: 0.75em;
    // text-transform: uppercase;
    font-weight: 800;
  }
  &--link {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: purple;
      border-bottom: 2px solid lightcoral;
    }
  }
}
