.btn {
  border-radius: 0.25em;
  padding: 0.25em 1.5em;
  border: none;
}

.btn-hero {
  background-color: yellow;
  box-shadow: 1px 2px 3px darkorange;
  &:hover {
    background-color: red;
  }
}

.btn-sm {
  font-size: 0.85rem;
}
.btn-md {
  font-size: 1rem;
}
.btn-lg {
  font-size: 1.15rem;
}

.btn-xl {
  font-size: 1.3rem;
}
