.btn {
  border-radius: 0.25em;
  padding: 0.55em 1.5em;
  border: none;
}

.btn-hero {
  background-color: var(--clr-accent-100);
  color: #0e0e0e;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  &:hover {
    background-color: var(--clr-accent-alt-100);
  }
}

.btn-sm {
  font-size: 0.7rem;
}
.btn-md {
  font-size: 0.85rem;
}
.btn-lg {
  font-size: 1rem;
}
.btn-xl {
  font-size: 1.15rem;
}
